@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    background-image: radial-gradient(ellipse at left bottom, rgba(22, 24, 47, 1) 0%,rgba(19, 109, 104, 0.9) 59%, rgba(36, 167, 31, 0.9) 100%);
	box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.774);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;

}

* {
	box-sizing: border-box;
}



.contenedor-segunda-pantalla {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

.formulario {
    background-color: rgb(201, 199, 199); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 1rem;
    margin: 1rem;
	grid-column: 1;
}

.formulario h2 {
    margin: 0.7rem;
    text-align: center;
    color: #333;
}

.input-group {
    margin: 0.3rem;
}

.input-group label {
    display: block;
    margin: 0.2rem;
    color: #555;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box; 
    margin-bottom: 0.3rem; 
}


.pdf-container {
    position: relative;
    grid-column: 2;
	margin: 1rem;
}

.pdf-preview,
.pdf-uploader, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 199, 199); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.file-label {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 2rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #0056b3;
}

.file-label input[type="file"] {
    display: none;
}

.validar{
    color: #ffffff;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 2rem;
    margin-bottom: 1rem;
	padding: .75rem;
	border-radius: 2rem;
	display: block;
	width: 100%;
	background-color: rgba(17, 97, 237, .75);
	border: none;
	cursor: pointer;
}

.validar:hover{
    background-color: rgba(17, 97, 237, 1);
}

.cerrar-sesion {
    display: block;
    text-align: center;
    color: black;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    background-color: rgba(3, 3, 3, 0.568); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: .3rem;
    margin: .7rem;
    text-align: center;
    color: white;
}

.terminos{
    color: #007bff;
}
.terminos:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



@media screen and (max-width: 767px) {
    .formulario {
        grid-column: 1 / span 2;    
    }


    .pdf-container {
     display: none;
    }

}
@media screen and (max-width: 767px) {
    .pdf-container {
        grid-column: 1 / span 2;
       
    }
    .pdf-uploader {
        margin-top: 20px;
    }
    .file-label {
        padding: 0.5rem 1rem;       
    }
}




