body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: radial-gradient(ellipse at left bottom, rgba(22, 24, 47, 1) 0%, rgba(19, 109, 104, 0.9) 59%, rgba(36, 167, 31, 0.9) 100%);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.header h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 24px;
    color: #555555;
    margin-top: 30px;
    background-color: #f7f7f7; 
    padding: 10px; 
    border-left: 5px solid #4CAF50; 
    display: flex; 
    align-items: center;
}

.content h2 .title-icon {
    margin-right: 10px; 
}

.content p {
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 18px;
}

.content a {
    color: #ff4500;
    text-decoration: none;
    border-bottom: 1px dotted #ff4500;
}

.content a:hover {
    border-bottom-style: solid;
}

.footer {
    margin-top: 30px;
    font-size: 14px;
    color: #888;
    text-align: center;
}

.boton-volver {
    display: block;
    text-align: center;
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.boton-volver:hover {
    background-color: #45a049;
}
